@model TicTacToe.WebUI.Models.IndexModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<form action="/" method="POST" id="form1">
    <div id="board">
        <canvas id="boardCanvas" width="600" height="600"></canvas>
        <h2>@ViewBag.PlayersTitle</h2>
        <ul id="players">
            @foreach (var player in Model.Players)
            {
                <li style="background-color: @player.RgbColor">@player.Name</li>
            }
        </ul>
        <button type="button" value="Spela!" id="playButton">Play!</button>
        @Html.ActionLink("New colors", "ClearColors")
    </div>
    <div id="secondary">
        <ul id="messages"></ul>
        <div id="debug"></div>
    </div>
</form>

